<div class="recipient-info">
    <div>
    <h3>{{name}}</h3>
    </div>
    <p>{{relationship}}</p>
    <button class="btn">
      <a href='/dashboard/edit/{{id}}'>Edit</a>
    </button>
    <br>
    {{> gifts-list gifts}}

</div>