<div class="recipient-info">
    <h3>{{rec.name}}</h3>
    <p>{{rec.relationship}}</p>
    <ul>
        {{#each rec.gifts as |gift|}}
        <li>
            {{gift}}
        </li>
        {{/each}}
    </ul>
</div>