<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santa's List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body id="body">
    <div class="wrapper">
      <header>
        <h1>
          <a id="home-link" href="/">Santa's Nice List</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">the list</a>
            <button href="#" id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/signup">Sign Up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{#if loggedIn}}
          <div>
            <h1 id="end">Countdown 'til Christmas</h1>
            <h2 class="countdown" id="days"></h2>
            <h2 class="countdown" id="hours"></h2>
            <h2 class="countdown" id="mins"></h2>
            <h2 class="countdown" id="secs"></h2>
          </div>
        {{else}}
          <p id="main-desc">Welcome to Santa's Nice List! Where the real Santas
            of the world can make their holiday lists, and check them twice!
            Password protected, of course. Login below to check your list.
            <a href="/signup" id="signup-link">Sign Up</a>
            to get started!</p>
        {{/if}}
        {{{body}}}
      </main>
      <footer>
        Merry Christmas to all and to all a good night!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/xmas-countdown.js"></script>

  </body>

</html>