<section class="add-recipient">
    <h2>
        <span class="form-title">Making a List</span>
    </h2>
    <br>
    <form class="new-recipient-form">
        <div>
            <label for="recipient-name">Name:</label>
            <input type="text" id="recipient-name" name="recipient-name" />
        </div>
        <div>
            <label for="rec-relationship">Relationship:</label>
            <input id="rec-relationship" name="rec-relationship" />
        </div>
        <button type="submit" class="btn">
            Add
        </button>
    </form>
</section>

{{#if recipients.length}}
<section class="recipient-gift">
    <h2>
        <span class="form-title">Checking it Twice</span>
    </h2>
    <br>
    <ul>
        {{#each recipients as |rec|}}
        <li>
            {{> list-info rec}}
        </li>
        {{/each}}
    </ul>
</section>
{{else}}
<section>
    <h2>Add a Name to Start Your List</h2>
</section>
{{/if}}
<script src="/javascript/add-recipient.js"></script>
