<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-recipient-form">
    <div>
      <input name="recipient-name" type="text" value="{{name}}" />
      <input name="recipient-relationship" , type="text" value="{{relationship}}" />
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-rec-btn">Delete Recipient</button>
  </form>

  <h2>
    Edit Gift
  </h2>
  <form class="edit-gift-form">
    <div>
      <input name="gift-name" type="text" value="{{gift.name}}" />
      <input name="gift-price" type="number" value="{{gift.price}}" />
    </div>
    <button type="submit">Save</button>
    <button type="button" class="delete-gift-btn">Delete Gift 🗑 </button>
  </form>

</article>