<form class="login-form">

  <h3 class="main-title">Login to Check Your List</h3>
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button id="login-btn" type="submit">Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>