/* 14 style sheet. Prob need to replace  */
* {
    box-sizing: border-box;
  }
  
  body, html {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(49 77 55);
    min-height: 100%;
    background-image: url('/images/christmas-pexels-tim-douglas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgba(255, 255, 255, 0.384);
  }
  
  #home-link {
    font-size: 2.3rem;
    -webkit-text-stroke: 1px #981014;
	  -webkit-text-fill-color: white;
  }

  #home-link:hover {
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: #981014;
  }

  .countdown {
    display: inline-block;
    font-size: 25px;
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: #0c755d;
  }

  #end {
    color: #d7142b
  }

  .edit-link {
    font-size: 15px;
    color: #d7142b;
  }

  .edit-link:hover {
    color: #eb485b;
  }
  
  button {
    background-color: #0c755d;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #40796b;
  }
  
  .recipient-list {
    margin: 0;
    padding: 0;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .form-title {
    border-bottom: 2px solid #d7142b;
    padding: 5px 0px
  }

  .main-title {
    color: #d7142b;
    font-size: 25px;
    padding-bottom: 5px;
  }

  .login-form {
    padding-top: 30px;
  }

  .secondary-title {
    padding-top: 15px;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: rgba(255, 255, 255, 0.384);
  }
  
  .delete-btn {
    background-color: #d41414;
  }
  
  .delete-btn:hover {
    background-color: #ff643d;
  }

  .add-recipient {
    padding-bottom: 30px;
  }

  .new-recipient-form label {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .edit-recipient-form {
    margin-bottom: 5%;
  }

  .edit-gift-form {
      padding: 10px 0px;
  }

  .gift-list {
    padding-bottom: 10px;
    color: #af121b;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    padding: 1%;
    font-size: 1.8rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: #981014;
  }