/* 14 style sheet. Prob need to replace  */
:root {
  --gold: #d7ab82;
  --green: #0c755d;
  --silver: #d1c7cf;
  --red: #bf1f27;
}

* {
    box-sizing: border-box;
  }
  
  body, html {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(--gold);
    background-image: url('https://res.cloudinary.com/dceprxjzq/image/upload/v1653443692/Santa%27sList/pexels-olya-kobruseva-xmas-truck.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  #main-desc {
    max-width: 35rem;
    padding: 1.5rem;
    color: var(--red);
    background-color: rgba(224, 224, 224, 0.506);
    border-radius: 10px;
    line-height: 30px;
    font-size: 1.2rem;
  }

  .login-label {
    color: var(--red);
    font-size: larger;
  }

  #signup-link {
    color: var(--green);
    font-size: 1.2rem;
    border-bottom: 1px solid var(--green);
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgba(255, 255, 255, 0.384);
  }
  
  #home-link {
    font-size: 2.3rem;
    -webkit-text-stroke: 1px var(--green);
	  -webkit-text-fill-color: white;
  }

  #home-link:hover {
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: var(--green);
  }

  .countdown {
    display: inline-block;
    font-size: 25px;
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: var(--green);
  }

  #end {
    color: var(--silver);
  }


  .edit-link:hover {
    color: #eb485b;
  }
  
  button {
    background-color: var(--green);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #40796b;
  }
  
  .recipient-list {
    margin: 0;
    padding: 0;
  }

  .recipient-info {
    background-color: #a6785d82;
    margin: 2rem 0rem;
    padding: 1rem;
    max-width: 30rem;
    border-radius: 20px;
    color: whitesmoke;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

  .form-title {
    border-bottom: 2px solid var(--silver);
    padding: 5px 0px
  }

  .form-title.list-title {
    margin-left: 2.5rem;
  }

  .main-title {
    color: var(--red);
    font-size: 25px;
    padding-bottom: 5px;
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: var(--red);
  }

  .login-form {
    padding: 25px 15px 30px;
    background-color: rgba(224, 224, 224, 0.506);
    max-width: 35rem;
    border-radius: 10px;
  }

  .secondary-title {
    padding-top: 15px;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: rgba(255, 255, 255, 0.384);
  }
  
  .rec-delete-btn,
  .delete-btn {
    background-color: #d41414;
  }
  
  .delete-btn:hover {
    background-color: #ff643d;
  }

  .rec-delete-btn:hover {
    background-color: #ff643d;
  }

  .add-recipient {
    padding-bottom: 30px;
  }

  .new-recipient-form label {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  
  
  .edit-recipient-form {
    margin-bottom: 5%;
  }

  .edit-gift-form {
      padding: 10px 0px;
  }

  .gifts {
    padding: 2rem 1rem;
  }

  .gift-list {
    padding-bottom: 8px;
    color: var(--silver);
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    padding: 1%;
    font-size: 1.8rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
	  -webkit-text-fill-color: var(--green);
  }